{% load static %}

<div class="w3-bar w3-black w3-border w3-padding-large">

    <a href="{% url 'blogapp:Inicio' %}" class="w3-bar-item w3-button w3-blue"><i class="fa fa-plane"> Home</i></a>
    <a href="{% url 'blogapp:Posts' %}" class="w3-bar-item w3-button"><i class="fa fa-list-ul"></i> Posts</a>
    <a href="{% url 'blogapp:Promos' %}" class="w3-bar-item w3-button"><i class="fa fa-bookmark-o"></i> Promos</a>
 
    <a href="#" class="w3-bar-item w3-button"><i class="fa fa-info-circle"></i> About</a>

    <!-- Dropdown list -->
    {% if user.is_authenticated %}
        <div class="w3-dropdown-hover w3-right">


            <button class="w3-button w3-small">
                <img class="w3-circle" width="20px" src="{{avatar}}"></img>
                {{user.username}}
            </button>

            <div class="w3-dropdown-content w3-bar-block w3-card-4">
                <a href="{% url 'users:Profile' user.id %}" class="w3-bar-item w3-button">Perfil</a>
                <a href="{% url 'users:logout' %}" class="w3-bar-item w3-button">Log Out</a>
            </div>
        </div>
    {% else %}
        <!-- Only show if user is not authenticated -->
        <a button class="w3-bar-item w3-button w3-round-large w3-button w3-blue w3-right w3-margin-left" href="{% url 'users:register' %}"><b>Sign up</b></a>
        <a button class="w3-bar-item w3-button w3-round-large w3-button w3-blue w3-right" href="{% url 'users:login' %}"><b>Log in</b></a>
    {% endif %}

</div>
