{% load static %}

<div class="w3-bar w3-black w3-border w3-padding-small">

    <a href="{% url 'blogapp:Inicio' %}" class="w3-bar-item w3-button w3-blue"><i class="fa fa-plane"> Home</i></a>
    <a href="{% url 'blogapp:Posts' %}" class="w3-bar-item w3-button"><i class="fa fa-list-ul"></i> Posts</a>
    <a href="{% url 'blogapp:Promos' %}" class="w3-bar-item w3-button"><i class="fa fa-bookmark-o"></i> Promos</a>
 
    <a href="#" class="w3-bar-item w3-button"><i class="fa fa-info-circle"></i> About</a>

    {% if user.is_authenticated %}
        
        <a button class="w3-bar-item w3-button w3-round-large w3-button w3-blue w3-right w3-margin-left" href="{% url 'users:logout' %}"><b>Log out</b></a>
        {% comment %} <p class="w3 bar-item w3-right"><b>{{user.username}}</b></p> {% endcomment %}
        <span class="fa fa-user w3-right w3-margin-right w3-center"><br><b>{{user.username}}</b></span>
    {% else %}
        <a button class="w3-bar-item w3-button w3-round-large w3-button w3-blue w3-right" href="{% url 'users:login' %}"><b>Log in</b></a>
    {% endif %}

</div>
