{% load static %}

<div class="w3-bar w3-black w3-border w3-padding-small">

    <a href="{% url 'blogapp:Inicio' %}" class="w3-bar-item w3-button w3-blue"><i class="fa fa-plane"> Home</i></a>
    <a href="{% url 'blogapp:Posts' %}" class="w3-bar-item w3-button"><i class="fa fa-reorder"></i> Posts</a>
    <a href="{% url 'blogapp:Promos' %}" class="w3-bar-item w3-button"><i class="fa fa-bookmark-o"></i> Promos</a>
 
    <a href="#" class="w3-bar-item w3-button"><i class="fa fa-info-circle"></i> About</a>

</div>
