{% extends 'blogapp/base.html' %}

{% block main_content  %}


{% if form.errors  %}
    <h5 style="color: red">Nombre de usuario o contraseña incorrectos.</h5>
{% endif %}
   

<form action="{% url 'users:login' %}" method="POST">
    {% csrf_token %}
    <table class="w3-table w3-topbar w3-bottombar w3-border-indigo w3-round">
        {{form.as_table}}
    </table>
        
        <!-- Botones -->
    <div class="w3-bar w3-padding-32">
        <input button type="submit" class="w3-button w3-round-large w3-button w3-large w3-indigo" value="Log in">
        <a button type="button" class="w3-button w3-round-large w3-button w3-large w3-indigo" href=" {% url 'blogapp:Inicio' %} ">Volver</button></a>
    </div>
</form>

{% endblock main_content  %}