{% extends 'users/profile.html' %}

{% block messages %}

<div class="w3-container w3-card-4 w3-margin-top w3-text-indigo">
    <h3>{{title}}</h3>
</div>

<div class="w3-container w3-padding-16">
    <table class="w3-table-all w3-card-4">
        <thead>
            <tr class="w3-wide">
                <th>From</th>
                <th>Msg</th>
                <th>Enviado</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for msg in messages %}
                <tr>
                    <th>{{msg.sender}}</th>
        
                    <td>{{msg.msg}}
                    <td>{{msg.sent_at}}</td>
                    <td>
                        <!-- Botones de tabla -->
                        <a href="{% url 'users:DeleteMsg' msg.id %}" class="w3-button w3-round w3-indigo w3-small"><i class="fa fa-trash"></i> Borrar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>    

<div class="w3-bar w3-padding-32 w3-center">
    <a button type="button" class="w3-button w3-round-large w3-button w3-large w3-indigo" href=" {% url 'users:NewMsg' %} ">Nuevo</button></a>
    <a button type="button" class="w3-button w3-round-large w3-button w3-large w3-indigo" href=" {% url 'users:Profile' user.id %} ">Volver</button></a>
</div>



{% endblock messages %}