{% extends 'users/profile.html' %}

{% block messages %}

<!-- Formulario para cargar imagen  -->

<!-- IMPORTANTE: Para guardar imagenes el formulario debe tener un enctype="multipart/form-data", caso contrario
no lo guarda (diccionario vacio
Note that FILES will only contain data if the request method was POST 
and the that posted to the request had enctype="multipart/form-data". 
Otherwise, FILES will be a blank dictionary-like object.) -->

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Save" class="w3-button w3-round-large w3-button w3-large w3-indigo w3-margin-bottom">
</form>

<a button type="button" class="w3-button w3-round-large w3-button w3-large w3-indigo w3-margin-top" href=" {% url 'users:UpdateProfile' %} ">Volver</button></a>

{% endblock messages %}