{% extends 'blogapp/index.html' %}

{% block main_content%}
{% block posts %}

<!-- Title and subtitle -->
<div class="w3-panel w3-padding-16 w3-center w3-topbar w3-bottombar w3-border-indigo w3-round">
    <h1>{{title.title}}</h1>
    <h3 class="w3-opacity" style="text-shadow:1px 1px 0 #444">{{subtitle}}</h3>
</div>

<!-- Form for search posts -->
<form action="{% url 'blogapp:Posts' %}" method="get" class="w3-center">

    <h5 class="w3-indigo">{{city.title}}</h5>
    <p><b>{{search}}:</b></p>
    <input type="text" name="city" id="city">

    <!-- Only show if city was found -->
    {% if request.GET.city %}
        <a button class="w3-button w3-round-large w3-button w3-indigo" href="{% url 'blogapp:Posts' %}"><i class="fa fa-list-ul"></i> Listar todo</a>
    {% endif %}


<!-- Botones -->
        <input button type="submit" class="w3-button w3-round-large w3-button w3-indigo" value="Buscar">
</form>

{% if posts %}

    <div class="w3-panel w3-yellow">
        {% if posts|length == 1 %}
            <small>Contamos con <b>{{posts|length}}</b> post!</small>

        {% else %}
            <small>Contamos con <b>{{posts|length}}</b> posts!</small>
        {% endif %}
    </div>
    
    <!-- Tabla -->

    <div class="w3-container">
        <table class="w3-table-all w3-hoverable">
            <thead>
                <tr class="w3-indigo w3-wide">
                    <th>Titulo</th>
                    <th>Subtitulo</th>
                    <th>Contenido</th>
                    <th>Ciudad</th>
                    <th>Autor</th>
                    <th>Fecha de publicación</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for post in posts %}
                    <tr>
                        <th>{{post.title}}</th>
                        <td>{{post.subtitle}}</td>
                        <td>{{post.content|slice:':70'}} <a class="w3-text-blue" href="{% url 'blogapp:PostDetail' post.id %}">... [Leer más]</a></td>
                        <td>{{post.city}}</td>
                        <td>{{post.author}}</td>
                        <td>{{post.date_added}}</td>
                        <td> 
                            {% if user.is_authenticated and user == post.author %}
                            <!-- Botones de tabla -->
                            <a href="{% url 'blogapp:DeletePost' post.id %}" class="w3-button w3-round w3-indigo w3-small"><i class="fa fa-trash"></i> Borrar</a>
                            <a href="{% url 'blogapp:EditPost' post.id %}" class="w3-button w3-round w3-indigo w3-small"><i class="fa fa-edit"></i> Editar</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>    

{% else %}
    <div class="w3-panel w3-blue-gray">
        <h5>Aun no contamos posteos en el blog, tu puedes ser el primero!</h5>
    </div>
{% endif %}

<!-- Botones -->
<div class="w3-bar w3-padding-32">
    <a button class="w3-button w3-round-large w3-button w3-large w3-indigo" href="{% url 'blogapp:NewPost' %}"><i class="fa fa-edit"></i> Nuevo Post</a>
    
</div>

{% endblock posts %}
{% endblock main_content%}
